<!DOCTYPE html>
<html>
<head>
    <title>Wishlist</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>
<body>

   <div>   
      <h1>My name's Jacob Moore</h1>
      <p>I'm a ruby expert<sup>*</sup></p>
      <hr>
      <a href="/wishlist">View my wishlist!</a>
      
      <p class="footer"><sup>*</sup>not really an expert...</p>
   </div>

   <!-- Client-Side JavaScript -->
   <script src="/assets/javascript/index.js"></script>
</body>
</html>